body {
  font-family: 'Verdana', sans-serif;
  background-color: #DEDEDE;
  height: 100%;
  width: 100%;
}

header a, a:visited {
  text-decoration: none;
  color: #FFF;
  float: left;
  margin: 0 0 40px 0;
  padding: 10px 0 0 0;
  width: 100%;
}
header {
  width: 100%;
  background-position: 50% 50%;
  background-color: #72AD76;
  margin-left: 0px;
  text-align: center;
}

a:hover {
  color: #DEDEDE;
}

h1 {

}

ul {
  list-style: none;
  margin: 0;
}
nav li {
  display: inline-block;
}

section {
  width: 700px;
  padding: 10px 0 10px 0;
  margin left: 0 auto;
  border-radius: 10px;
  background-color: #FFF;
  border: 0.5px solid #707371;
  text-align: center;
}

@media all and (min-width: 0px) and (max-width: 500px) {
  nav a {
    font-size: 100%;
  }
}
