body {
  font-family: 'Verdana', sans-serif;
  background-color: #DEDEDE;
  height: 100%;
  width: 100%;
  min-width: 700px;
}

header a, a:visited {
  text-decoration: none;
  color: #416E44;
  float: left;
  margin: 0 0 20px 0;
  padding: 10px 0 0 0;
  width: 100%;
  font-weight: 600;
}
header a h1, header a h2 {
  color: #FFF;
  text-shadow: 5px 5px 20px #D9D575;
}

a:hover {
  color: #FFF;
  text-shadow: 5px 5px 20px #000;
}

header {
  width: 100%;
  background-position: 50% 50%;
  background-color: #72AD76;
  margin-left: 0px;
  text-align: center;
  min-width: 500px;
}

nav ul {
  list-style: none;
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 0 25px 0 25px;
}
section {
  width: 700px;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #FFF;
  border: 1px solid #9E9E9E;
  text-align: center;
}

section a:hover {
  color: #000;
}

section ul, ol {
  text-align: left;
}

footer {
  text-align: center;
}
