body {
  font-family: 'Verdana', sans-serif;
  background-color: #DEDEDE;
  height: 100%;
  width: 100%;
}

header a, a:visited {
  text-decoration: none;
  color: #FFF;
}
header {
  width: 100%;
  background-position: 50% 50%;
  background-color: #72AD76;
}

a:hover {
  color: #grey;
}

h1 {

}

nav {
  text-decoration: none;
}
nav li {
  display: inline-block;
}


@media all and (min-width: 0px) and (max-width: 500px) {
  nav a {
    font-size: 100%;
  }
}
